/Animal.class
/Car.class
/Dog.class
/Mammal.class
/main.class
/IEat.class
/ListTest.class
/TheStack.class
/GenericMethods.class
/Node.class
/ExeptionHandling.class
/AgeExeption.class
/AgeException.class
/Map.class
/Map$Tile.class
/MainHW2.class
/Time.class
/Time1.class
/Time2.class
